<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xoi.sode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Payment_user"></activity>
        <activity android:name=".SevaDetails_User" />
        <activity android:name=".User_main" />
        <activity android:name=".SevaDetails" />
        <activity android:name=".UserDetails_selected" />
        <activity android:name=".UserDetails" />
        <activity android:name=".AddUserAdmin" />
        <activity android:name=".Admin_main" />
        <activity android:name=".Log_admin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>